<div id="loginTab" ng-controller="LoginController as ctrl">
    <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)"></flash-message>
    <div class="innter-form">
        <form role="form" name="loginForm" method="post" ng-submit="ctrl.authenticateUser()" novalidate="novalidate">
            <div class="form-group">
                <label class="sr-only" for="login-username">User Login</label>
                <input type="text" ng-model="ctrl.loginForm.username" name="username" placeholder="LoginId/Email/phone" class="form-control" id="login-userlogin" required="required">
            </div>
            <div class="form-group">
                <label class="sr-only" for="login-password">Password</label>
                <input type="password" ng-model="ctrl.loginForm.password" name="password" placeholder="Password" class="form-control" id="login-password" required="required">
            </div>
            <button type="submit" class="btn">Sign In</button>
        </form>
        <div>{{ctrl.loginForm.username}}</div>
        <div>{{ctrl.loginForm.password}}</div>
        <div>{{ctrl.loginForm}}</div>
        <div>{{ctrl}}</div>
    </div>
    <div class="social-login">
        <p>- - - - - - - - - - - - - Sign In With - - - - - - - - - - - - - </p>
        <ul>
            <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href=""><i class="fa fa-google-plus"></i> Google+</a></li>
            <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>