<div ng-controller="LoginRegisterController">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <br>
    <br>
    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-body">
                    <ul class="nav nav-tabs final-login">
                        <li  ng-class="{active:isActive('login')}"><a  ui-sref=".login"> Sign In</a></li>
                        <li ng-class="{active:isActive('register')}" ><a  ui-sref=".register" >  Join us!</a></li>
                    </ul>
                    <div>
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
